{% extends 'admin/base.html' %}

{% load static %}

{% block content %}
    <div>
        <button class="btn btn-sm btn-primary"><a href="{% url 'admin:create' %}" style="color:#fff; text-decoration: none;">설문 추가하기</a></button>
    </div>
    <br/>
    <table class="table text-center">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>제목</th>
            <th>상태</th>
            <th>응답 수</th>
            <th>발행일</th>
            <th>수정일</th>
            <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        {% if polls %}
            {% for poll in polls %}
                <tr>
                    <td>{{ poll.id }}</td>
                    <td><a href="{% url 'admin:detail' poll.id %}">{{ poll.question_text }}</a></td>
                    <td>{{ poll.status }}</td>
                    <td>{{ poll.votes }}</td>
                    <td>{{ poll.created_at | date:"Y-m-d" }}</td>
                    <td>last updated at {{ poll.updated_at | timesince }} ago</td>
                    <td><button class="btn btn-primary"><a href="{% url 'admin:update' poll.id %}" style="color:#fff; text-decoration: none;">수정</a></button></td>
                    <td><button class="btn btn-danger"><a href="{% url 'admin:delete' poll.id %}" style="color:#fff; text-decoration: none;">삭제</a></button></td>
                    <td><button class="btn btn-warning">공유</button></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="9">질문이 없습니다.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <div id="paging">
        <ul class="pagination justify-content-center" style="margin-top: 2rem;">
            <!-- 이전페이지 -->
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?&page={{ page_obj.previous_page_number }}">이전</a>
                <!-- href로 뎁스 설정 -->
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in page_obj.paginator.page_range %}
            {% if page_number == page_obj.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?&page={{ page_obj.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- 페이징처리 끝 -->


{% endblock %}