{% extends 'admin/base.html' %}
{% load static %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <form action="/admin/polls/new/" method="post">
                {% csrf_token %}
                <div id="question_div" class="form-group">
                    <label for="question_name">설문지명</label>
                    <input type="text" class="form-control" id="question_name" name="question_name">
                    <small class="form-text text-muted">설문지 이름을 작성해주세요!</small>
                </div>
                <hr/>
                <br/>
                <div id="new_choice_div"></div>
                <button type="button" class="btn btn-sm btn-dark" onclick="js:addChoice(this)">문항 추가</button>&nbsp;
                <button type="submit" class="btn btn-sm btn-primary">설문지 제출</button>&nbsp;
                <button type="button" class="btn btn-sm btn-link"><a href="/admin/polls/">뒤로 가기</a></button>
                <br/>
            </form>
        </div>
    </div>

{% endblock %}