{% extends 'admin/base.html' %}

{% load static %}

{% block content %}
    <table class="table text-center">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>제목</th>
            <th>문항 수</th>
            <th>응답 수</th>
            <th>발행일</th>
            <th colspan="4"></th>
        </tr>
        </thead>
        <tbody>
        {% if polls %}
            {% for poll in polls %}
                <tr>
                    <td>{{ poll.id }}</td>
                    <td><a href="{% url 'admin:detail' poll.id %}">{{ poll.question_text }}</a></td>
                    <td>{{ poll.count }}</td>
                    <td>{{ poll.votes }}</td>
                    <td>{{ poll.created_at | date:"Y-m-d" }}</td>
                    <td>last updated at {{ poll.updated_at | timesince }} ago</td>
                    <td><button class="btn btn-primary"><a href="{% url 'admin:update' poll.id %}" style="color:#fff; text-decoration: none;">수정</a></button></td>
                    <td><button class="btn btn-danger"><a href="{% url 'admin:delete' poll.id %}" style="color:#fff; text-decoration: none;">삭제</a></button></td>
                    <td><button class="btn btn-warning">공유</button></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="9">질문이 없습니다.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <div>
        <button class="btn btn-sm btn-dark"><a href="{% url 'admin:create' %}" style="color:#fff; text-decoration: none;">설문 추가하기</a></button>
    </div>
{% endblock %}